user nginx;
worker_processes auto;

error_log /dev/stdout info;
pid /var/run/nginx.pid;

events {
  worker_connections 1024;
}

http {
  access_log /dev/stdout;

  server {
    listen 8080;
    server_name _;

    client_max_body_size 1000M;
    proxy_read_timeout 60s;

    include /etc/nginx/conf.d/*.conf;

    location / {

      auth_basic "Restricted";
      auth_basic_user_file /etc/nginx/.htpasswd;

      proxy_set_header X-Forwarded-Host $host;
      # Do not pass Authorization header to destination
      proxy_set_header Authorization "";

      index index.html;
    }

    location /upload {
      proxy_set_header X-Forwarded-HOst $host;
      proxy_pass http://web-upload-service:5000;
    }

    location /display {
      proxy_set_header X-Forwarded-HOst $host;
      proxy_pass http://web-streaming-service:5000;
    }

    location /play_video/ {
      proxy_set_header X-Forwarded-Host $host;
      proxy_pass http://web-streaming-service:5000;
    }

    location /static/ {
      proxy_set_header X-Forwarded-Host $host;
      proxy_pass http://web-streaming-service:5000;
}

  }

  server {
    listen 30532;

    location /nginx_status {
      stub_status on;
      access_log off;
    }
  }
}
